/* Work Sans font from google*/

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Primary content */
.primary-text {
  line-height: 26px;
  color: #727272;
}
.btn-primary {
  border: 0;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: white;
  font-weight: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
.primary-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
/* Header Style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 63px 240px 45px 240px;
}
/* Navbar style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav li {
  list-style-type: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  color: #424242;
  text-decoration: none;
}

/* Banner style */
.banner img {
  margin-top: 20px;
  width: 100%;
}
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  line-height: auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  height: 130px;
}
.banner-description {
  margin-top: 0px;
}
/* Main section Style */
main {
  max-width: 1140px;
  margin: 70px auto;
}
/* Teams style */
.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.teams-content {
  padding: 0 70px 0 70px;
}
.teams-title {
  font-size: 2.8rem;
}
.quick-list {
  font-weight: 500;
  color: #727272;
}
.of-our {
  font-weight: 700;
  color: #131313;
}
.features {
  font-weight: 700;
  color: #ff900e;
}
/* Feature section */
/* Fact section */
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px 50px 40px 41px;
}
.card-title {
  font-weight: 600;
  margin-top: 5px;
}
.card-status {
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Sponsors Style */
.sponsors {
  text-align: center;
  margin-top: 80px;
}
.sponsors-img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}
.sponsors-img-container img {
  width: 165.833px;
  height: 50px;
  flex-shrink: 0;
}
/* Responsive media queries*/
/* Mobile Device */

@media screen and (max-width: 567px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  .banner-title {
    height: auto;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .facts-card-container {
    gap: 20px;
  }
  .teams-content,
  .facts-card-container {
    padding: 0 20px 0 20px;
  }
}
/* Tablet or medium Device */

@media screen and (min-width: 567px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .teams-container,.sponsors-img-container {
    flex-direction: column;
  }
  .facts-card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .banner-title {
    height: auto;
  }
}
